* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
nav {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 30px;
}
nav h3{
  font-size: 23px;
}
nav .button{
  border: 3px double rgba(255, 255, 255, .5);
  padding: 7px 15px;
  transition: .3s;
  cursor: pointer;
}
nav .button:hover{
  background-color: #fff;
  color: black;
}
.container {
  height: 100vh;
}
.container img {
  width: 100%;
  position: absolute;
  height: 110vh;
  object-fit: cover;
  z-index: -1;
}
.main-title {
  position: absolute;
  top: 35%;
  left: 50%;
  font-size: 5.5rem;
  transform: translate(-50%, -30%);
}
.content {
  width: 100%;
  background: rgb(24, 24, 24);
  min-height: 100vh;
  z-index: 2;
  position: absolute;
}
.content-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  text-align: center;
  min-height: 60vh;
}
.content-images div img{
  max-width: 100%;
  border: 3px double rgba(255, 255, 255, .3);
}
.text{
  display: flex;
  justify-content: center;
  align-items: center;
}
.text p {
  text-align: center;
  padding: 1rem 5rem;
  font-size: 1.1rem;
}
@media(max-width:767px){
  .content-images{
    flex-direction: column;
    gap: 25px;
  }
  .text{
    flex-direction: column;
  }
  .content-images div img{
    width: 320px;
  }
}